<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>about</h2>
			<hr>
			<p>Hello, I'm testing</p>
			<p>This is awesome</p>
			<p>I <a>know</a></p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I've written</h2>
			<hr>

			<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
			
		</div>
		<div class="col-3 homepage_content">
			<h2>Stuff I've built</h2>
			<hr>
			<% @projects.each do |project| %>
			<h3><%= link_to project.title, project %></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
			<% end %>
		</div>
	</div>