<div class="wrapper wrapper_padding clearfix">
		<div class="col-1 about homepage_content">
			<h2>about</h2>
			<hr>
			<p>Hello, I'm testing</p>
			<p>This is awesome</p>
			<p>I <a>know</a></p>
		</div>
		<div class="col-2 homepage_content">
			<h2>Stuff I've written</h2>
			<hr>

			<% @posts.each do |post| %>
			<h3><%= link_to post.title, post %></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
			<% end %>
			
		</div>
		<div class="col-3 homepage_content">
			<h2>Stuff I've build</h2>
			<hr>
			<h3><a href="#">Proj 1</a></h3>
			<p class="date">Friday April 10th</p>

			<h3><a href="#">Proj 2</a></h3>
			<p class="date">Friday April 10th</p>

			<h3><a href="#">Proj 3</a></h3>
			<p class="date">Friday April 10th</p>
		</div>
	</div>